<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Cadastro</title>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<link rel="stylesheet" type="text/css" href="/static/banco-dados/main.css">
</head>
<body>
	
	<div class="container">
		<div class="container-login">
			<div class="wrap-login">
				<form method="POST" action="/pessoas-permitidas-usar-banco-dados/novo" class="login-form">
					<span class="login-form-title">
						Cadastrar
					</span>

					<div class="wrap-input margin-top-35 margin-bottom-35">
						<input class="input-form" type="text" name="login" autocomplete="off" required>
						<span class="focus-input-form" data-placeholder="Nome de Usuário"></span>
					</div>

					<div class="wrap-input margin-bottom-35">
						<input class="input-form" type="text" name="senha" autocomplete="off" required>
						<span class="focus-input-form" data-placeholder="Senha"></span>
					</div>

					<div class="container-login-form-btn">
						<button class="login-form-btn1">Cadastrar</button>
                        <a class="login-form-btn2" href="/pessoas-permitidas-usar-banco-dados" style="text-decoration:none">Cancelar</a>
					</div>

                    <!-- <br> -->

                    <!-- <div class="container-login-form-btn"> -->
                        <!-- <a class="login-form-btn" href="/pessoas-permitidas-usar-banco-dados">Cancelar</a> -->
                    <!-- </div> -->

				</form>
			</div>
		</div>
	</div>
	
	<script>
		let inputs = document.getElementsByClassName('input-form');
		for (let input of inputs) {
			input.addEventListener("blur", function() {
				if(input.value.trim() != ""){
					input.classList.add("has-val");
				} else {
					input.classList.remove("has-val");
				}
			});
		}
	</script>

</body>
</html>