
 <!DOCTYPE html>
 <html lang="pt-BR">
 
   <head>
     <meta charset="UTF-8" />
     <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
     <title>Verificação</title>
     <link rel="stylesheet" href="static/styles.css"/>
     <link rel="stylesheet" href="static/inicial.css"/>
     <link rel="stylesheet" href="static/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
   </head>
 
   <body>
     <div class="container_consulta_agendada">
         <div class="header">
             <h1>Tem certeza que quer apagar?</h1>
             <p>
                 Após a exclusão, você precisará fazer um novo agendamento.
             </p>
             <br/>
         </div>
 
         <div class="botoes">
             <a href="apagar_consulta"
               ><button class="botoes_voltar">Quero apagar</button></a>
             <a href="javascript:history.back()"
               ><button class="botoes_voltar">Não quero apagar</button></a>
           </div>
     </div>
   </body>
 
 </html>