
 <!DOCTYPE html>
 <html lang="pt-BR">
 
   <head>
     <meta charset="UTF-8" />
     <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
     <title>Consulta Apagada</title>
     <link rel="stylesheet" href="static/styles.css"/>
     <link rel="stylesheet" href="static/inicial.css"/>
     <link rel="stylesheet" href="static/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
   </head>
 
   <body>
     <div class="container_consulta_agendada">
         <div class="header">
             <h1>Agendamento apagado com sucesso!</h1>
             <p>
                 Se precisar, pode fazer um novo agendamento apertando no botão "Marcar consulta".
             </p>
             <br/>
         </div>
 
         <div class="botoes">
             <a href="marcar_consulta"
               ><button class="botoes_voltar">Marcar consulta</button></a>
             <a href="/"
               ><button class="botoes_voltar">Tela inicial</button></a>
             <a href="especificacoes"
               ><button class="botoes_voltar">Especificações</button></a>
             <a href="verificar_dados_agendamento"
               ><button class="botoes_voltar">Dados de Consulta</button></a>
           </div>
     </div>
   </body>
 
 </html>