<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>Consulta Agendada</title>
    <link rel="stylesheet" href="static/styles.css"/>
    <link rel="stylesheet" href="static/inicial.css"/>
    <link rel="stylesheet" href="static/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
  </head>

  <body>
    <div class="container_ja_agendado">
        <div class="header">
            <h1>Seus dados de agendamento</h1>
            <p>
                Lembre-se de olhar o seu email, nele está o horário e dias da sua consulta.
            </p>
            <br/>
        </div>

        <div>
            <h3>Nome: {{ consulta_cadastrada[0][1] }}</h3><br>
            <h3>CPF: {{ consulta_cadastrada[0][2] }}</h3><br>
            <h3>Email: {{ consulta_cadastrada[0][3] }}</h3><br>
            <h3>Turno: {{ consulta_cadastrada[0][4] }}</h3><br>
            <h3>Serviço: {{ consulta_cadastrada[0][5] }}</h3>
        </div>

        <div class="botoes">
            <a href="marcar_consulta"
              ><button class="botoes_voltar">Marcar consulta</button></a>
            <a href="/"
              ><button class="botoes_voltar">Tela inicial</button></a>
            <a href="especificacoes"
              ><button class="botoes_voltar">Especificações</button></a>
            <a href="verificar_se_quer_apagar"
              ><button class="botoes_voltar">Apagar consulta</button></a>
          </div>
    </div>
  </body>

</html>