<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>Consulta</title>
    <link rel="stylesheet" href="static/styles.css"/>
    <link rel="stylesheet" href="static/marcar_consulta.css"/>
    <link rel="stylesheet" href="static/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div>
        <h1 id="titulo">Marcar consulta</h1>
        <p id="subtitulo">Insira todos os dados necessários</p>
        <br />
      </div>

      <form method="POST" action="receber_dados">
        
        <fieldset class="grupo">
          <div class="campo">
            <label for="nome"><strong>Nome completo</strong></label>
            <input 
              type="text" name="nome" id="nome" autocomplete="off"
              title="Digite o seu nome completo." autocomplete="off" required 
            />
          </div>

          <div class="campo">
            <label for="cpf"><strong>CPF</strong></label>
            <input 
              type="text" name="cpf" id="cpf" onkeypress="$(this).mask('000.000.000-00');"
              title="Digite o seu cpf" autocomplete="off" required 
            />
          </div>
        </fieldset>

        <div class="campo">
          <label for="email"><strong>Email</strong></label>
          <input type="email" name="email" id="email" autocomplete="off" required />
        </div>

        <div class="campo">
          <label><strong>Qual horário você deseja marcar?</strong></label>
          <div>
            <label>
              <input id="horario" type="radio" name="horario" value="Manhã" checked />Manhã
            </label>
            <label>
              <input id="horario" type="radio" name="horario" value="Tarde" />Tarde
            </label>
          </div>
        </div>

        <div class="campo">
          <label for="servico"><strong>Serviço</strong></label>
          <select id="servico" name="servico" required>
            <option selected disabled value="">Selecione</option>

            <option value="Terapia Cognitiva Comportamental - Sem pacote (R$150,00)">
              Terapia Cognitiva Comportamental - Sem pacote (R$150,00)
            </option>
            <option value="Terapia Cognitiva Comportamental - Pacote de 7 sessões (R$1000,00)">
              Terapia Cognitiva Comportamental - Pacote de 7 sessões (R$1000,00)
            </option>
            <option value="Terapia Cognitiva Comportamental - Pacote de 12 sessões (R$1700,00)">
              Terapia Cognitiva Comportamental - Pacote de 12 sessões (R$1700,00)
            </option>

            <option value="Psicoterapia Infantil - Sem pacote (R$150,00)">
              Psicoterapia Infantil - Sem pacote (R$150,00)
            </option>
            <option value="Psicoterapia Infantil - Pacote de 9 sessões (R$1000,00)">
              Psicoterapia Infantil - Pacote de 9 sessões (R$1000,00)
            </option>
            <option value="Psicoterapia Infantil - Pacote com 12 sessões (R$1700,00)">
              Psicoterapia Infantil - Pacote com 12 sessões (R$1700,00)
            </option>

            <option value="Psicoterapia para Adolescentes - Sem pacote (R$150,00)">
              Psicoterapia para Adolescentes - Sem pacote (R$150,00)
            </option>
            <option value="Psicoterapia para Adolescentes - Pacote de 9 sessões (R$1000,00)">
              Psicoterapia para Adolescentes - Pacote de 9 sessões (R$1000,00)
            </option>
            <option value="Psicoterapia para Adolescentes - Pacote com 12 sessões (R$1700,00)">
              Psicoterapia para Adolescentes - Pacote com 12 sessões (R$1700,00)
            </option>

            <option value="Psicoterapia para Adultos - Sem pacote (R$150,00)">
              Psicoterapia para Adultos - Sem pacote (R$150,00)
            </option>
            <option value="Psicoterapia para Adultos - Pacote de 9 sessões (R$1000,00)">
              Psicoterapia para Adultos - Pacote de 9 sessões (R$1000,00)
            </option>
            <option value="Psicoterapia para Adultos- Pacote com 12 sessões (R$1700,00)">
              Psicoterapia para Adultos- Pacote com 12 sessões (R$1700,00)
            </option>

            <option value="Psicoterapia para Idosos; - Sem pacote (R$150,00)">
              Psicoterapia para Idosos; - Sem pacote (R$150,00)
            </option>
            <option value="Psicoterapia para Idosos; - Pacote de 9 sessões (R$1000,00)">
              Psicoterapia para Idosos; - Pacote de 9 sessões (R$1000,00)
            </option>
            <option value="Psicoterapia para Idosos; - Pacote com 12 sessões (R$1700,00)">
              Psicoterapia para Idosos; - Pacote com 12 sessões (R$1700,00)
            </option>

            <option value="Psicoterapia de Casal - Sem pacote (R$150,00)">
              Psicoterapia de Casal - Sem pacote (R$150,00)
            </option>
            <option value="Psicoterapia de Casal - Pacote de 9 sessões (R$1000,00)">
              Psicoterapia de Casal - Pacote de 9 sessões (R$1000,00)
            </option>
            <option value="Psicoterapia de Casal - Pacote com 12 sessões (R$1700,00)">
              Psicoterapia de Casal - Pacote com 12 sessões (R$1700,00)
            </option>

            <option value="Reabilitação Neuropsicológica - Sem pacote (R$145,00)">
              Reabilitação Neuropsicológica - Sem pacote (R$145,00)
            </option>
            <option value="Reabilitação Neuropsicológica - Pacote de 9 sessões (R$1000,00)">
              Reabilitação Neuropsicológica - Pacote de 9 sessões (R$1000,00)
            </option>
            <option value="Reabilitação Neuropsicológica - Pacote com 12 sessões (R$1500,00)">
              Reabilitação Neuropsicológica - Pacote com 12 sessões (R$1500,00)
            </option>
          </select>
        </div>

        <button class="botao" type="submit">Enviar</button>
      </form>

      <div class="botoes">
        <a href="especificacoes"
          ><button class="botoes_voltar">Especificações</button></a>
        <a href="/"
          ><button class="botoes_voltar">Tela inicial</button></a>
        <a href="verificar_dados_agendamento"
          ><button class="botoes_voltar">Dados de Agendamento</button></a>
      </div>
    </div>
  </body>
</html>
