.services {
  flex-wrap: wrap;
}

.services ol{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: unset;
  margin-top: 15px;
}

.services li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #384AA1;

  width: 105px;
  height: 105px;
  padding: 5px;
  overflow-wrap: anywhere;

  font-weight: bold;
  color: white;
  font-size: 14px;

  border-radius: 50%;
}